.header {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba($color-primary, .97),
    rgba($color-secondary, .97)),
    url("../images/one.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &__text-box {
    @include absCenter;
    text-align: center;
  }

  &__btn {
    &:first-child {
      margin-right: 6rem;
    }
  }
}
