.project {
  padding: 3rem 0;
  background-color: $color-white;
  min-height: 100vh;
  @include respond(tab-land) {
    padding: 6rem;

    .project__logo,
    .project__heading--main {
      height: 10rem !important;
    }

    .project__heading {
      margin-bottom: 4rem;
    }

    .project__logo {
      background-position: center;
      margin-bottom: 4rem;
    }
  }

  &__heading {
    text-align: center;

    &--main {
      margin-top: 1rem;
      font-weight: 400;
      color: $color-black;
      font-size: 4rem;
    }
    &--sub {
      font-weight: 700;
    }
  }

  &__logo {
    cursor: pointer;
    background-image: url("../images/denell-construction-logo-color.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 8rem;
    width: 18vw;
    @include smoothTransition;

  }

  &__album {
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    padding-bottom: .5rem;
    text-decoration: none;
    color: $color-black;
    @include smoothTransition;
    &:hover {
      color: $color-tertiary;
    }
  }

  &__thumbnail {
    width: 100%;
    height: 20rem;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: $transition;
    &:hover {
      -webkit-box-shadow: $box-shadow;
      -moz-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
    }
  }

  &__btn {
    a {
      margin-top: 2rem;
      float: right;
      font-size: 1.2rem;
      padding: 1rem 2rem;
    }
  }
}

// Single project images
.album {
  padding: 3rem 6rem;
  background-color: $color-white;
  min-height: 100vh;

  .loading { margin-top: 3rem; }

  a {
    padding: 1rem;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: $color-black;
  }

  &__group {
    margin-top: 6rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__container {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    &:not(:nth-child(4n)) {
      margin: 0 3rem 3rem 0;
    }
    @include respond(tab-land) {
      width: calc((100% - 3 * #{$gutter-horizontal}) / 3);
      &:not(:nth-child(3n)) {
        margin: 0 3rem 3rem 0;
      }
    }
    @include respond(tab-port) {
      width: calc((100% - 3 * #{$gutter-horizontal}) / 2);
      &:not(:nth-child(even)) {
        margin: 0 3rem 3rem 0;
      }
    }
    @include respond(phone) {
      width: 100%;
      margin: 0 0 3rem 0;
    }
  }

  &__img {
    cursor: pointer;
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}