.testimonials {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 8rem 6rem;
  background: $color-light-grey;

  &__content {
    width: 40%;
  }

  &__heading {
    letter-spacing: 1px;
    @include letterSpacing(1px);
    color: $color-quaternary;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 6rem;
    text-transform: uppercase;
    span {
      font-weight: 700;
    }
  }

  &__client {
    color: $color-primary;
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  &__icon {
    color: $color-tertiary;
    font-size: 6rem;
    cursor: pointer;

    &--quote {
      font-size: 2rem;
      color: $color-primary;
    }
  }

  &__quote {
    color: $color-dark-grey;
    font-size: $default-font-size;
    padding-bottom: 3rem;
  }
}